chromedriver
chromedriver.exe
token.json
__pycache__
.DS_Store
.venv
env
venv
.venv/*
wrangler.toml
wrangler.json
wrangler.jsonc
postgres_creds.txt
node_modules
dist
.wrangler
.dev.vars
.unlighthouse

# Change them to your taste:
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

config.yaml
__init__.py
